<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="COASC4J"
            id="vn.dongpv.pde.commands.pluginCategory">
      </category>
      <command
            name="Analyze Source Code"
            categoryId="vn.dongpv.pde.commands.pluginCategory"
            id="vn.dongpv.pde.commands.analyzeSourceCodeCommand">
      </command>
      <command
            categoryId="vn.dongpv.pde.commands.pluginCategory"
            id="vn.dongpv.pde.commands.removeAllProblemMarkersCommand"
            name="Remove All Problem Markers">
      </command>
      <command
            name="Resolve Problem"
            categoryId="vn.dongpv.pde.commands.pluginCategory"
            id="vn.dongpv.pde.commands.resolveProblemCommand">
      </command>
      <command
            id="vn.dongpv.pde.commands.viewMoreInfoCommand"
            name="View More Info">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="vn.dongpv.pde.commands.analyzeSourceCodeCommand"
            class="vn.dongpv.pde.handlers.AnalyzeSourceCodeHandler">
      </handler>
      <handler
            class="vn.dongpv.pde.handlers.RemoveAllProblemMarkersHandler"
            commandId="vn.dongpv.pde.commands.removeAllProblemMarkersCommand">
      </handler>
      <handler
            class="vn.dongpv.pde.handlers.ResolveProblemHandler"
            commandId="vn.dongpv.pde.commands.resolveProblemCommand">
      </handler>
      <handler
            class="vn.dongpv.pde.handlers.ViewMoreInfoHandler"
            commandId="vn.dongpv.pde.commands.viewMoreInfoCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               icon="icons/main.png"
               id="vn.dongpv.pde.menus.packageExplorerContextMenu"
               label="Analysis"
               mnemonic="C">
            <command
                  commandId="vn.dongpv.pde.commands.analyzeSourceCodeCommand"
                  icon="icons/analyze.png"
                  label="Analyze Source Code"
                  mnemonic="P">
            </command>
            <separator
                  name="vn.dongpv.pde.packageExplorerPopupMenuSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="vn.dongpv.pde.commands.removeAllProblemMarkersCommand"
                  icon="icons/remove.png"
                  label="Remove All Problem Markers"
                  mnemonic="R">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <or>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <or>
                              <adapt
                                    type="org.eclipse.jdt.core.IJavaProject">
                              </adapt>
                           </or>
                        </iterate>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <or>
                              <adapt
                                    type="org.eclipse.jdt.core.IPackageFragment">
                              </adapt>
                           </or>
                        </iterate>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <or>
                              <adapt
                                    type="org.eclipse.jdt.core.ICompilationUnit">
                              </adapt>
                           </or>
                        </iterate>
                     </or>
                  </with>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ProblemView?after=additions">
         <menu
               icon="icons/main.png"
               id="vn.dongpv.pde.menus.problemViewContextMenu"
               label="Analysis"
               mnemonic="C">
            <command
                  commandId="vn.dongpv.pde.commands.resolveProblemCommand"
                  icon="icons/resolve.png"
                  label="Resolve Problem"
                  mnemonic="R">
            </command>
            <separator
                  name="vn.dongpv.pde.problemViewPopupMenuSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="vn.dongpv.pde.commands.viewMoreInfoCommand"
                  icon="icons/view.png"
                  label="View More Info"
                  mnemonic="V">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <count
                           value="1">
                     </count>
                  </with>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:vn.dongpv.pde.problemExplorerView?after=additions">
         <menu
               icon="icons/main.png"
               id="vn.dongpv.pde.menus.problemExplorerViewContextMenu"
               label="Analysis"
               mnemonic="C">
            <command
                  commandId="vn.dongpv.pde.commands.resolveProblemCommand"
                  icon="icons/resolve.png"
                  label="Resolve Problem"
                  mnemonic="R">
            </command>
            <separator
                  name="vn.dongpv.pde.problemExplorerViewPopupMenuSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="vn.dongpv.pde.commands.viewMoreInfoCommand"
                  icon="icons/view.png"
                  label="View More Info"
                  mnemonic="V">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <count
                           value="1">
                     </count>
                  </with>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="problem"
         name="OPTIMIZATION"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="vn.dongpv.pde.problem"
            name="vn.dongpv.pde.problemType"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="vn.dongpv.pde.problemType"
            icon="icons/marker.png"
            includeOnPreferencePage="true"
            quickFixIcon="icons/marker.png">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="vn.dongpv.pde.pluginCategory"
            name="Code Optimization - Secure Coding">
      </category>
      <view
            category="vn.dongpv.pde.pluginCategory"
            class="vn.dongpv.pde.views.ProblemInfoView"
            icon="icons/info.png"
            id="vn.dongpv.pde.problemInfoView"
            name="Problem Information"
            restorable="true">
      </view>
      <view
            category="vn.dongpv.pde.pluginCategory"
            class="vn.dongpv.pde.views.ProblemExplorerView"
            icon="icons/explorer.png"
            id="vn.dongpv.pde.problemExplorerView"
            name="Problem Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="vn.dongpv.pde.problemMarkerContentGenerator"
            name="Problem Marker Content Generator">
         <markerTypeReference
               id="vn.dongpv.pde.problem">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.severityAndDescriptionField">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.resourceField">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.pathField">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField">
         </markerFieldReference>
         <markerFieldReference
               id="vn.dongpv.pde.categoryMarkerField">
         </markerFieldReference>
         <markerFieldReference
               id="vn.dongpv.pde.severityMarkerField">
         </markerFieldReference>
         <markerFieldConfiguration
               enabled="true"
               id="vn.dongpv.pde.problemExplorerMarkerFieldConfiguration"
               name="Problem Explorer Marker Field Configuration">
         </markerFieldConfiguration>
      </markerContentGenerator>
      <markerField
            class="vn.dongpv.pde.markers.CategoryMarkerField"
            id="vn.dongpv.pde.categoryMarkerField"
            name="Category">
      </markerField>
      <markerField
            class="vn.dongpv.pde.markers.SeverityMarkerField"
            id="vn.dongpv.pde.severityMarkerField"
            name="Severity">
      </markerField>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="vn.dongpv.pde.commands.analyzeSourceCodeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <key
            commandId="vn.dongpv.pde.commands.resolveProblemCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      <key
            commandId="vn.dongpv.pde.commands.viewMoreInfoCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+3">
      </key>
      <key
            commandId="vn.dongpv.pde.commands.removeAllProblemMarkersCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
   </extension>

</plugin>
